@import "tailwindcss";

@theme {
  --color-brand-red: #DC2626;
  --color-brand-red-dark: #B91C1C;
  --color-brand-amber: #F59E0B;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  @page {
    margin: 0;
  }
}
